{% extends "base.html" %} {% block content %}
<h1 class="text-xl p-1 bold">Add Amount</h1>
<br />
{% if member %}
<form action="" method="post" novalidate class="p-2">
  {{form.hidden_tag()}}

  <br />
  <p>
    {{form.amount.label}}<br />
    {{form.amount(size=32, class="form-control form-control-sm border
    border-black border-slate-500")}}
  </p>
  <button class="rounded-none bg-indigo-700 text-white p-2">Add Amount</button>

  <!-- <p class="border border-black p-2">{{form.submit()}}</p> -->
  <br />
</form>
{%endif%} {%endblock%}
